@import "buttons.css";
@import "fonts.css";
@import "variables.css";
@import "error-messages.css";

/* Header & Footer */
header,
footer {
    background-color: var(--head_foot_blue);
}

header {
    padding: 2%;
    text-align: left;
    position: relative;
}

.logo-image {
    background-image: url(../images/GameHub_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 10vh;
}

.contact-info-footer {
    grid-template-rows: 1fr;
    padding: 2%;
    margin: 0% 5%;
}

.text-footer,
.info-footer {
    display: inline-grid;
    margin: 3%;
    padding-top: 2%;
}

.newsletter {
    text-decoration: none;
    padding-top: 6%;
}

input.input-newsletter {
    display: inline-block;
    padding: 2% 4%;
    margin: 0% 3%;
    width: 250px;
}

/* Topbar */
.topbar-gamespage,
.topbar-homepage,
.topbar-contactpage,
.topbar-about,
.h1heading {
    background-color: var(--pale_blue);
}

.topbar-homepage,
.topbar-contactpage,
.topbar-about {
    padding: 10px;
}

.h1heading,
.h1heading-homepage {
    padding: 20px;
    margin: 0% 0% 3% 0%;
}

.topbar-homepage,
.topbar-gamespage {
    padding-bottom: 1%;
}

nav.links-topbar-gamespage {
    background-color: var(--pale_blue);
}

/* Nav */
nav,
#menu-checkbox,
#user-checkbox {
    display: none;
}

#menu-checkbox:checked~nav,
.user-icon:checked~nav {
    display: block;
}

nav {
    background: var(--head_foot_blue);
    position: absolute;
}

.header-links {
    float: left;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

nav li {
    display: inline-block;
    padding: 10px 10px 0px;
}

nav a:hover,
a.nav-gamespage:hover {
    text-decoration: underline;
}

.signup {
    float: right;
}

a.nav-gamespage,
a.game-link {
    text-decoration: none;
}

li.nav-gamespage {
    margin: 0% 6%;
    padding: 8px 25px;
}


/* Containers for grid and flex*/
.container-about,
.container-checkoutsuccess,
.order-summary,
.checkout-container,
.details-checkout,
.container-grid-checkout,
.checkout-total,
.form-contactpage,
.container-direct-contact,
.game-container,
.contact-info-footer,
.delivery-info,
.container-gamepage,
.container-games-page,
.container-index-games,
.game-section {
    display: grid;
}

.row1,
.row2,
.row3,
.game,
.buttons-gamespage,
.payment-radio,
.info-gamepage {
    display: flex;
}

.contact-info-footer,
.container-direct-contact,
.details-checkout {
    grid-template-columns: repeat(3, 1fr);
}


.form-contactpage,
.checkout-container,
.container-grid-checkout,
.checkout-total,
.container-checkoutsuccess,
.container-about,
.container-gamepage,
.container-index-games {
    grid-template-columns: repeat(2, 1fr);
}

.container-homepage {
    display: flex;
}

.info-gamepage {
    flex-direction: column;
}

.container-index-games {
    grid-template-rows: auto;
}

.game-section {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

/* Images */

.product-page-image {
    max-width: 80%;
}

.games-page-image {
    max-width: 60%;
}

.index-page-image {
    max-width: 60%;
    margin: 6%;
    padding-top: 18px;
}

/* Home Page */
.first-section-homepage {
    background-image: url(../images/motorcross-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: bottom;
    background-position-y: top;
    min-height: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

#first-section-text {
    padding-top: 33%;
}


.game-section {
    align-items: start;
    margin: 2%;
    gap: 1%;
}

.game-section-info {
    margin: 3%;

}

.game-text {
    margin-top: 20%;
}

.top-text {
    padding-left: 5%;
}



/* Games page */

.buttons-gamespage {
    gap: 10%;
    display: flex;
    margin-right: 5%;
}

.game {
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding-bottom: 8%;
    margin-right: 10%;
}

.genre-container {
    display: flex;
}

.h2-title-games-page {
    margin-left: 50px;
}

#top-section-games-page {
    background-image: url(../images/bluecar-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 50vh;
    margin: 0% 5%;
    padding: 5%;
}

.nav-gamespage {
    display: inline-block;
}

/* Product page */

.info-gamepage {
    padding: 5% 2%;
}

.container-gamepage {
    margin: 2% 20%;
}

fieldset.game_page {
    margin-bottom: 10px;
    border-style: outset;
}

.button-boxes-product-page {
    margin-top: 10px;
}

.delivery-info {
    grid-template-columns: 50px 200px;
    grid-template-rows: 50px;
    margin: 5% 0%
}

.delivery-truck {
    margin-top: 60%;
}

.game-info {
    margin-top: 30%;
}

/* Contact Page */
.gameimage-contact {
    max-width: 30%;
    padding: 0% 32%;
}

input.contact-input,
textarea.contact-input,
input.checkout-page {
    display: block;
    margin-bottom: 5%;
}

input.contact-input,
textarea.contact-input,
label.contact-page {
    margin-left: 30px;
    width: 350px;
}

.contact-info {
    margin: 3% 10%;
}

#log-in-form,
#contact-form {
    background-color: var(--pale_orange);
    padding: 8% 5%;
}

.form-contactpage {
    align-items: baseline;
    padding: 2% 10%;
    gap: 3%;
}

#log-in-form {
    margin-right: 35%;
    padding-right: 12%;
}

#contact-form {
    padding-left: 12%;
}

.container-direct-contact {
    justify-items: center;
    margin: 2% 12%;
}

.direct-contact-header {
    font-weight: lighter;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
}

.direct-contact-icons {
    color: var(--head_foot_blue);
}


/* About Page */
.about-image {
    max-width: 80%;
    padding: 5%;
    margin: 5%;
}

#about-info-text {
    text-align: left;
    margin: 3%;
    padding: 8%;
}

/* Media Queries */
/* Phone */
@media (min-width: 800px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}