:root {
    --head_foot_blue: #0867a3;
    --pale_blue: #0868a33b;
    --orange: #f0a53c;
    --black: #000;
    --pale_orange: #f0a53c61;
    --white: #fff;
    --pinkish: #f03c3c;
    --font_family: Palatino, Verdana, sans-serif
}